# Supabase
VITE_SUPABASE_URL=https://nglwscakhhdhelhbqkyb.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sua_publishable_key_aqui

# IA
VITE_GEMINI_API_KEY=sua_gemini_key_aqui
VITE_GROQ_API_KEY=sua_groq_key_aqui

# Imagens
VITE_STABILITY_API_KEY=sua_stability_key_aqui
